<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zorroe.cloud.job.admin.mapper.ExecutorInfoMapper">
    <sql id="executorInfoColumns">
        `id`,
        executor_name    executorName,
        executor_address executorAddress,
        executor_group   executorGroup,
        executor_app     executorApp,
        metadata,
        version,
        heartbeat_time   heartbeatTime,
        `status`,
        create_time      createTime
    </sql>

    <insert id="insertOrUpdate">
        INSERT INTO executor_info (
            executor_name,
            executor_address,
            executor_group,
            executor_app,
            metadata,
            version,
            status
        )
        VALUES (
            #{executorName},
            #{executorAddress},
            #{executorGroup},
            #{executorApp},
            #{metadata},
            #{version},
            1
        )
        ON DUPLICATE KEY UPDATE executor_name = VALUES(executor_name),
                                executor_group = VALUES(executor_group),
                                executor_app = VALUES(executor_app),
                                metadata = VALUES(metadata),
                                version = VALUES(version),
                                status = 1,
                                heartbeat_time = NOW()
    </insert>

    <select id="listExecutors" resultType="ExecutorInfo">
        SELECT
        <include refid="executorInfoColumns"/>
        FROM executor_info
        <where>
            <if test="executorGroup != null and executorGroup != ''">
                AND executor_group = #{executorGroup}
            </if>
            <if test="executorApp != null and executorApp != ''">
                AND executor_app = #{executorApp}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY executor_group ASC, executor_app ASC, executor_name ASC, executor_address ASC
    </select>

    <update id="updateOffline">
        UPDATE executor_info
        SET status = 0
        WHERE status = 1
          AND heartbeat_time &lt; date_sub(now(), interval 30 second)
    </update>
</mapper>
