<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zorroe.cloud.job.admin.mapper.ExecutorInfoMapper">
    <sql id="executorInfoColumns">
        `id`,
        executor_name    executorName,
        executor_address executorAddress,
        heartbeat_time   heartbeatTime,
        `status`,
        create_time      createTime
    </sql>

    <insert id="insertOrUpdate">
        INSERT INTO executor_info (executor_name, executor_address, status)
        VALUES (#{executorName}, #{executorAddress}, 1)
        ON DUPLICATE KEY UPDATE status = 1,
                                executor_address = VALUES(executor_address),
                                heartbeat_time = NOW()
    </insert>

    <select id="listOnline" resultType="ExecutorInfo">
        SELECT
        <include refid="executorInfoColumns"/>
        FROM executor_info
        WHERE status = 1
        ORDER BY executor_name ASC, executor_address ASC
    </select>

    <update id="updateOffline">
        UPDATE executor_info
        SET status = 0
        WHERE heartbeat_time &lt; date_sub(now(), interval 30 second)
    </update>
</mapper>
